.header {
    // .header__inner

    &__inner {
        @include flex-space-between;
        padding: 20px 0;
        gap: 10px;
    }

    // .header__logo

    &__logo {
    }

    // .header__logo-img

    &__logo-img {
        pointer-events: none;
        @include _1024 {
            width: 80%;
        }
    }

    // .header__search

    &__search {
        @include flex-space-between;
        gap: 20px;
        max-width: 525px;
        width: 100%;
        background-color: #000;
        border-radius: 10px;
        overflow: hidden;
        padding: 12px 25px;
        &-wrapper {
            flex: 1;

            &_input {
                @include btn-text-color;
                width: 100%;
                background-color: transparent;
            }
            &_input::placeholder {
                @include btn-text-color;
            }
        }
        &-btn-box {
            @include flex-center;
        }

        @include _700 {
            padding: 5px 15px;
        }
    }

    // .header__btn

    &__btn {
        padding: 18px 25px;
        display: none;
        white-space: nowrap;

        @include _700 {
            padding: 12px 20px;
        }
    }
}

.hero {
    @include flex-center;
    height: 95vh;


    &__inner {
        @include flex-space-between;
        gap: 60px;

        @include _1024 {
            flex-direction: column-reverse;
        }

        @include _600 {
            gap: 0;
          }
    }
    // .hero__img-box

    &__img-box {
    }

    // .hero__img

    &__img {
        width: 100%;
        object-fit: cover;

        @include _1024 {
            width: 60%;
            display: block;
            margin: 0 auto;
        }

        @include _600 {
          display: none;
        }
    }

    // .hero__content-box

    &__content-box {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: right;
        max-width: 655px;
        @include _1024 {
            text-align: center;
        }


    }

    // .hero__title

    &__title {
        font-size: 64px;

        @include _600 {
            font-size: 46px;
        }
    }

    // .hero__desk

    &__desk {
    }

    // .hero__btn

    &__btn {
        align-self: end;
        padding: 18px 50px;

        @include _1024 {
            align-self: center;
        }

        @include _700 {
            padding: 12px 25px;
        }
    }
}

.catalog {
    // .catalog__inner
    padding-bottom: 30px;

    &__inner {
        padding-top: 30px;
    }

    // .catalog__title

    &__title {
        font-size: 48px;
        padding-bottom: 60px;

        @include _700 {
            font-size: 35px;
        }
    }

    // .catalog__list

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        padding-bottom: 60px;

        @include _1024 {
            grid-template-columns: repeat(3, 1fr);
        }

        @include _700 {
            grid-template-columns: repeat(2, 1fr);
        }
        @include _490 {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    // .catalog__item

    &__item {
        @include bg-answer-color;
        padding: 30px;
        border-radius: 20px;
        transition: all 0.3s ease-in;

        &:hover {
            @include bg-quiz-color;
        }

        &:hover .catalog__img-box .img2 {
            opacity: 1;
        }

        &:hover .catalog__item--hover {
            @include hover-color;
        }
    }

    // .catalog__item-link

    &__item-link {
        @include flex-space-between;
        flex-direction: column;
        height: 100%;
        gap: 15px;
        pointer-events: none;
    }

    // .catalog__item-title

    &__item-title {
        flex-grow: 1;
        text-align: center;
        pointer-events: none;
    }

    &__img-box {
        pointer-events: none;
    }
    &__img-box .img1 {
        position: absolute;
    }
    &__img-box .img2 {
        opacity: 0;
        transition: all 0.3s ease-in;
    }

    // .catalog__item-text

    &__item-text {
        pointer-events: none;
    }

    &__item--hover {
        transition: all 0.3s ease-in;
    }

    &__btn {
        display: block;
        margin: 0 auto;
        padding: 18px 25px;
    }
}

.quiz {
    &__container {
        @include flex-center;
        height: calc(100vh - 120px);

        @include _1024 {
            height: 100%;
            padding: 10% 5%;
        }
    }

    // .quiz__inner

    &__inner {
        @include bg-answer-color;
        max-width: 690px;
        width: 100%;
        padding: 30px 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        @include _600 {
            padding: 10px 25px;
            gap: 15px;
        }
    }

    // .quiz__title

    &__title {
        text-align: center;
        font-size: 36px;


        @include _600 {
            font-size: 30px;
        }
    }

    // .quiz__progress-wrapp

    &__progress-wrapp {
        @include bg-quiz-color;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 10px 22px;
        border-radius: 10px;
    }

    // .quiz__progress-bar

    &__progress-bar {
        flex-grow: 1;
        height: 16px;
        border-radius: 10px;
        background-color: #134126;
        overflow: hidden;
        position: relative;
    }

    // .quiz__progress

    &__progress {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 30%;
        border-radius: 16px;
        background: linear-gradient(180deg, #5fc93a 0%, rgba(148, 211, 14, 0) 150%);
        transition: all 0.3s ease-in-out;
    }

    // .quiz__progress-question

    &__progress-question {
        @include hover-color;
        display: flex;
        gap: 8px;
    }

    // .quiz__current-question

    &__current-question {
    }

    // .quiz__slash

    &__slash {
    }

    // .quiz__total-question

    &__total-question {
    }

    // .quiz__questions

    &__questions {
        @include bg-quiz-color;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px 22px 20px;
        border-radius: 10px;
    }

    // .quiz__question

    &__question {
        @include hover-color;
    }

    // .quiz__answers

    &__answers {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    // .quiz__answer

    &__answer {
        @include bg-answer-color;
        border-radius: 10px;
        padding: 7px 22px;
        cursor: pointer;
        position: relative;
        transition: all 0.3 ease-in;

        &::after {
            @include answer-lamp;
            opacity: 0;
            transition: all 0.3s ease-in;
        }

        &:hover::after {
            opacity: 1;
        }
        &.active::after {
            @include answer-lamp;
            opacity: 1;
        }
        &.active {
            box-shadow: 0px 0px 15px 0px rgba(55, 255, 0, 0.4) inset;
        }
    }
    &__btn-box {
        display: flex;
        align-self: end;
    }

    // .quiz__button

    &__button svg {
        pointer-events: none;
    }

    &__button path {
        transition: all 0.3s ease-in;
    }
    &__button:hover path {
        fill: #096d25;
    }
}
