@mixin hover-color {
    color: #5fc93a;
    text-shadow: 1.41px 1.41px #000, 2px 0 #000, 1.41px -1.41px #000, 0 -2px #000, -1.41px -1.41px #000, -2px 0 #000, -1.41px 1.41px #000, 0 2px #000;
}

@mixin bg-quiz-color {
    background-color: #096d25;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5) inset;
}

@mixin bg-answer-color {
    background-color: #15a33d;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5) inset;
}

@mixin btn-text-color {
    color: #5fc93a;
    text-shadow: 0px 0px 25px #14ff00;
    font-size: inherit;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin answer-lamp {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background-image: url('../images/lamponanswer.png');
    width: 40px;
    height: 40px;
}
